<div class="share">
	
	<!-- AddThis Button BEGIN
		<div class="addthis_toolbox addthis_default_style ">
	{% if site.facebook_like %}
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	{% endif %}
	{% if site.twitter_tweet_button %}
	<a class="addthis_button_tweet"></a>
	{% endif %}
	{% if site.google_plus_one %}
	<a class="addthis_button_google_plusone" g:plusone:size="{{ site.google_plus_one_size }}"></a>
	{% endif %}
	<a class="addthis_counter addthis_pill_style"></a>
	</div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid={{ site.addthis_profile_id }}"></script>
    AddThis Button END  -->
  
	<!-- JiaThis Button BEGIN -->
	<div id="ckepop">
		<span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_tsina">新浪微博</a>
		<a class="jiathis_button_tqq">腾讯微博</a>
		<a class="jiathis_button_qzone">QQ空间</a>
		<a class="jiathis_button_renren">人人网</a>
		<a href="http://www.jiathis.com/share?uid=1661313" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	</div>
	<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1344396774557760" charset="utf-8"></script>
	<!-- JiaThis Button END -->
</div>
